@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap");

:root {
  --white: #fff;
  --bg: #122143;
  --bg2: #27468f;
  --input: #8994a1;
  --input-focus: #b0c0d1;
  --todo-extras: #4c67ff;
  --delete-btn: #ff3300;
  --done-btn: #00d300;
  --undo-btn: #ffcc00;
  --done-task: #ffffff72;
  --todo-bg: #191921;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  font-family: "Inter", "Montserrat", sans-serif;
  min-height: 100vh;
  background: var(--bg);
  background: linear-gradient(135deg, var(--bg) 0%, #1b2d57 100%);
}

.input {
  border-radius: 10px;
  padding: 5px;
  background: transparent;
}

.input:focus {
  outline: 1px solid var(--input-focus);
}