.done-btn {
  border-color: var(--done-btn);
}

.delete-btn {
  border-color: var(--delete-btn);
}

.done-icon {
  filter: invert(57%) sepia(48%) saturate(5971%) hue-rotate(89deg)
    brightness(107%) contrast(119%);
}
