form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 30px;
}

.add-todo-input {
  width: 90%;
  border: 1px solid var(--input);
  margin-bottom: 10px;
  color: inherit;
}

.add-todo-input::placeholder {
  color: var(--input);
}

.empty-input, .empty-input:focus {
  border: 2px solid var(--empty-input);
  animation: shake .3s;
}

.todo-extras {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes shake {
  0% { transform: translateX(0px)}
  25% { transform: translateX(-3px)}
  50% { transform: translateX(3px) }
  75% { transform: translateX(-3px) }
  100% { transform: translateX(3px) }
}