form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 30px;
}

.add-todo-input {
  width: 90%;
  border: 1px solid var(--input);
  margin-bottom: 10px;
  color: inherit;
}

.add-todo-input::placeholder {
  color: var(--input);
}

.todo-extras {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}